body {
  font-family: sans-serif;
  background-color: #f9f9f9;
  color: #333;
  margin: 0;
  padding: 2rem;
  transition: background 0.3s ease;
}

.dark {
  background-color: #111;
  color: #f0f0f0;
}

h1 {
  font-size: 2rem;
}
